.about-page-wrapper{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    
}

.hr {
    width: 50%;
    background-color: #037fff;
}

.paddings-top {
    padding-top: 1px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}


.mt-30 {
    margin-top: 60px;
}


.services {
    display: flex;
    flex-direction: row;
}

.sectionTitle {
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
    color: #037fff;
}

.color-theme {
    color: #037fff;
}

.service {
    height: 90%;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-image: linear-gradient(to left, #7874ba, #4d8ce8, #00d4ff);
}

.service h5 {
    color: white;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.service p {
    color: #ebecf0;
    text-align: center;
}

.service-icon {
    margin-bottom: 20px;
    display: inline-block;
    color: black;
    font-size: 2.9rem;
}

.service-area {
    background-color: rgb(228, 224, 224);
    margin-top: 60px;

    margin-bottom: -30px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.paddings-top {
    padding-top: 50px;
    margin-top: 20px;
}


.about-content h3 {
    font-weight: 600;
    margin-top: -18%;
    color: #fff;
    font-size: 3rem;
    line-height: 2.7rem;
    justify-content: center;
    
}


.about-content p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.8rem;
    font-family: Nunito,sans-serif;
    color: rgb(235, 235, 235);
    background-color: #706f6f;
    padding: 20px;
}

.about-content {
    margin-top: 30%;
}

.about-content-div{
    padding-top: 12%;
}

.about-me-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    
}

.about-content.mt-30.col.col-6 {
    max-width: 100%;   
}

.col.col-6 {
    max-width: 100%;
}

.notification {
    background-color: #706f6f;
    color: rgb(235, 235, 235);
}

.about-image img {

    padding: 15%;
}

@media (max-width: 1050px) {
    .services {
        flex-direction: column;
        width: 70%;
    }

    .hr {
        width: 100%;
    }
    
    .about-me-content {
        flex-direction: column;
    }

}

@media (min-width: 640px) {
    .services {
        margin-left: 0px;
        width: 100%;
    }

 

    .about-content h3 {
        font-size: 2rem;
        padding-top: 15%;
    }
}



@media (max-width: 640px) {

    .about-image img {
        height: 25rem;
        width:30rem;
        padding: 5%;
    }
    
    .padding-top {
        padding-top: 50px;
    }
    
    .services {
        display: inline;
    }
    

    
    .s30-reverse {
        margin-top: -30px;
    }
    
    .about-content h3 {
        font-size: 2rem;
        margin-top: 10px;
    }
    
    
    
  }

  @media (max-width: 1050px) {
    .about-content-div{
        padding-top: 1%;
        margin-top: -25px;
    }
    
  }