.resume-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(199, 199, 199);
    margin-bottom: -10%;
    margin-left: end;
    margin-right: initial;
    padding: 10%;
    padding-right: 15px;
    padding-left: 15px;
}

.bx--content {
    background: #393939;
    padding: 0rem;
    transform: translate3d(0, 0, 0);
    will-change: margin-left;
}

.mi-progress-container:hover {
    transform: scale(0.98);
}

.section-title hr {
    background-color: #037fff;
    width: 50%;
    margin-left: 0;
}


.padding-top {
    padding-top: 1px;
}

.mi-padding-bottom {
    padding-bottom: 120px;
}

.section-title {
    margin-bottom: 30px;
    text-align: left;
    color: #037fff;
}

.section-title h2 {
    font-size: 2.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.skills-container {
    margin-top: -2%;
}

.mi-section {
    position: relative;
}


.mt-30 {
    margin-top: 30px;
}

.mi-progress-title {
    font-weight: 600;
    margin-bottom: 0;
}

.mi-progress h6 {
    font-size: 1.14rem;
    line-height: 1.857rem;
    color: #037fff;
}

.mi-progress-inner {
    display: flex;
    align-items: center;
}

.mi-progress-percentage {
    flex: 0 0 60px;
    color: #037fff;
}

.mi-progress-container {
    background: #2e344e;
    display: block;
    height: 6px;
    width: 100%;
    position: relative;
}

.mi-progress-active {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #037fff;
    width: 0;
    transition: all 1s cubic-bezier(.01,.57,.68,1.05) 0s;
}

.resume-area {
    padding-top: 70px;
}


.mi-smalltitle {
    display: flex;
    align-items: center;
}

.mi-smalltitle-icon {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 1.71rem;
    line-height: 2.43rem;
    color: #037fff;
}

.mi-smalltitle h4 {
     font-size: 1.71rem;
     line-height: 2.43rem;
     font-weight: 700;
     font-family: Nunito,sans-serif;
     color: #fff;
     padding-top: 1rem;
}

.mi-resume-wrapper {
    border-left: 3px solid #2e344e;
}

.mi-resume {
    display: flex;
}

.mt-30 {
    margin-top: 30;
}


.mi-resume-summary {
    align-self: flex-start;
    flex: 0 0 220px;
    max-width: 220px;
    padding-left: 20px;
    position: relative;
}

.mi-resume-summary:before {
    content: "";
    position: absolute;
    left: -9px;
    top: 6px;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background: #10121b;
    border: 3px solid #2e344e;
}



.mi-resume-year {
    color: #037fff;
    margin-bottom: 0;
}


.mi-resume-details {
    position: relative;
    padding-left: 50px;
}

.mi-resume-details:before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    height: 1px;
    width: 30px;
    background: #2e344e;
}

.mi-resume-details h5 {
    color: #037fff;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.43rem;
    line-height: 2.14rem;
}

.mi-resume-company {
    color: #fff;
}

.h6 {
    font-size: 1.14rem;
    line-height: 1.857rem;
}

.mi-resume-details p {
    margin-bottom: 0;
}

@media only screen and (max-width: 767px){
    .h6 {
        font-size: 1.04rem;
        line-height: 1.657rem;
    }
}

@media only screen and (max-width: 767px){
    .mi-resume-details {
        padding-left: 20px;
    }

    .mi-resume-details {
        position: relative;
        padding-left: 50px;
    }

    .mi-smalltitle h4 {
        font-size: 1.51rem;
        line-height: 2.13rem;
    }

    .mi-resume {
        flex-wrap: wrap;
    }

}





@media (min-width: 992px){
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }


}