.contact-page-wrapper{
    width: 100%;
    min-height: 100%;
    background: linear-gradient(70deg, rgb(199, 199, 199) 30%, rgba(0,0,0,0) 30%),
    linear-gradient(120deg, rgb(199, 199, 199) 60%, #037fff 60%) fixed;
    padding: 4%;

}

.contact-form {
    width: 70%;
    height: 100%;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
    margin-top: -2px;
    padding-bottom: 16%;
}

.contact-form h2 {
    margin:10px 0;
    padding-bottom:10px;
    width: 40%;
    color:#78788c;
    border-bottom:3px solid #78788c;
}

.contact-form input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

.contact-form  input:focus{
    border-bottom:2px solid #037fff;
}

.contact-form  p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a;
}

.contact-form textarea {
    max-height: 15vh;
    background: transparent;
    width: 100%;
    padding: 2%;
    border: 0;
    border-bottom:2px solid #bebed2;
}

.contact-form textarea:focus{
    
    border-bottom: 2px solid #037fff;
}

.butt{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:#e6e6e6;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
}

.butt:hover{
    background:#78788c;
    color:#fff;
}

.contact-email{
    position:absolute;
    bottom:-15px;
    right:-10px;
    left: 20px;
    background:#037fff;
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000;
}

.contact-email span{
    margin:0 5px 0 15px;
}



@media screen and (max-width: 884px) {

    .contact-form {
        width: 95%;
        height: 38rem;
        margin-top: 14px;
    }

    .contact-form h2 {
        width: 80%;
    }

    .contact-email{
        width: 85%;
    }
    
}
