 .center {
    justify-content: center!important;
 }


 .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
 }
 
 .home-content{
     text-align: center;
 }

 .name-theme {
     color: dodgerblue;
 }


.home-content h1{
    font-size: xx-large;
    color: white;
    max-width: 100%;
}

.home-content h4{
    color: white;
}

.bg-anime {
    background-image: url(../Home/img/bg.gif);
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    background-color: black;
    z-index: -1;
    height: 100vh;
    opacity: 0.8;
}

.hire-button {
    margin-top: 10%;
}

.hire {
    background: dodgerblue;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid dodgerblue;
    margin-top: 10px;
    margin-bottom: -10px;
    box-shadow:10px 10px 10px -10px #000;
}

.hire h5 {
    color: white;
    font-size: 20px;
    margin: 0;
}

.hire:hover {
    cursor: pointer;
    background: rgb(123, 176, 255);
}




 @media (min-width: 1200px){
    .container.container {
        max-width: 100%;
    }
 }

 @media (min-width: 576px){
    .container.container, .container-sm {
        max-width: 100%;
    }

    .bg-anime {
        max-width: 80px;
    }
 }

 @media (max-width: 640px){

    .bg-anime {
        min-width: 100vw;
        background-position-x: center;
    }

    .hire{
        min-width: 150px;
        margin-left: -5%;
    }
 }