.project-page-wrapper{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(70deg, rgb(199, 199, 199) 30%, rgba(0,0,0,0) 30%),
    linear-gradient(120deg, rgb(199, 199, 199) 60%, #037fff 60%) fixed;
    padding: 4%;

}

.sectionTitle {
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
    color: #037fff;
    margin-top: auto;
}

.hr {
    width: 50%;
    background-color: #037fff;
}

.row-cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
}

.project-area {
    margin-top: 30px;
}

.card {
    margin-top: 30px;
    max-width: 45%;
    margin: 2%;

}

.card-content {
    background: #e2e2e2;
    padding: 15px;
    height: 100%;
}

.card-image {
    position: relative;
    overflow: hidden;
}

.card-image a {
    cursor: pointer;
}

.card-image img{
    object-fit: cover; 
}

.card-image a img {
    transition: all .4s ease-in-out; 
}

.card-image a img:hover{
    transform: scale(1.07); 
}

.card-text {
    padding: 15px;
}


@media screen and (max-width: 884px) {
    .row-cards {
        flex-direction: column;
    }

    .card {
        max-width: 100%;
        margin: 3%;
    
    }
    
}
