.project-page-wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgb(199, 199, 199);
    padding: 4%;

}

.sectionTitle {
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
    color: #037fff;
}