.project-page-wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    padding: 4%;

}

.sectionTitle {
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
    color: #037fff;
    margin-top: auto;
}

.hr {
    width: 50%;
    background-color: #037fff;
}

.row-cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
}

.project-area {
    margin-top: 30px;
}

.card {
    margin-top: 30px;
    max-width: 45%;
    margin: 2%;
    box-shadow:0 10px 30px -20px #000;

}

.card:hover {
    box-shadow:0 10px 30px -15px #000;
}

.card-content {
    background: white;
    
    height: 100%;
}

.card-content h5 {
    color: black;
}

.card-image {
    position: relative;
    overflow: hidden;
}

.card-image a {
    cursor: pointer;
}

.card-image img{
    object-fit: cover; 
}

.card-image a img {
    transition: all .4s ease-in-out; 
}

.card-image a img:hover{
    transform: scale(1.04); 
}

.card-text {
    padding: 20px;
    overflow: hidden;
}

.card-text p{
    color: black;
    text-overflow: ellipsis;
    font-size: larger;
}

.card-text h5{
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.dis-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: -15px;
}

.card-title { 
    min-width: 90%;
}

.gitLink{
    font-size: 25px;
    margin-top: -10px;
    
}

.gitLink a{
    text-decoration: none;
    color: black;
    
}

.ico {
    box-shadow:0 10px 10px -10px #000;
    transition: all .4s ease-in-out; 
}

.ico:hover {
    transform: scale(1.05); 
}

@media screen and (max-width: 884px) {
    .row-cards {
        flex-direction: column;
    }

    .card {
        max-width: 100%;
        margin: 5%;
    
    }
    
}
